# Environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
labenv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/

# Databases
*.sqlite3
chat_history.db

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Arize Phoenix & Data
src/infrastructure/phoenix_data/
data/docs/
!data/hasil_eval.json

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
